<section id="skills">
    <h3>SKILLS</h3>
    <div id="skills-container">
        <div>
            <h4>TECHNICAL SKILLS</h4>
            <ul>
                <li>HTML</li>
                <li><progress></progress></li>
                <li>CSS</li>
                <li><progress></progress></li>
                <li>ANGULAR</li>
                <li><progress></progress></li>
                <li>JS</li>
                <li><progress></progress></li>
                <li>JAVA</li>
                <li><progress></progress></li>
            </ul>
        </div>
        <div>
            <H4>LANGUAGE</H4>
            <ul>
                <li>ENGLISH</li>
                <li><progress></progress></li>
                <li>HINDI</li>
                <li><progress></progress></li>
                <li>HARYANVI</li>
                <li><progress></progress></li>
            </ul>
        </div>
    </div>
</section>