<section id="bio">
    <img src="assets/PRiNCE.jpg" alt="Profile">
    <article>
        <h2>Prince Bhardwaj</h2>
        <p>Intend to build the career with leading organisation with commitment and dedication, which will create an
            atmosphere for potentially, efﬁciency and elevation of the career.
            <span class="break"></span>
            I am currently look out for the challenging to build products that make a difference.
        </p>
        <span class="break"></span>
        <br>
        <a href="#" class="link-button">Download My Resume</a>
    </article>
</section>