.logo{
    font-size: 3em;
    font-weight: 700;
    color: orangered;
    margin-left: 5px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px;
}

nav ul li a{
    margin: 0px 10px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.8em;
    color: black;
}

.nav-link:hover{
    color: orangered;
}