<nav>
    <ul>
        <li class="logo">ProGrad</li>
        <li>
            <ul>
                <li>
                    <a href="#home" class="nav-link">HOME</a>
                    <a href="#bio" class="nav-link">BIO</a>
                    <a href="#portfolio" class="nav-link">PORTFOLIO</a>
                    <a href="#skills" class="nav-link">SKILLS</a>
                    <a href="#contact" class="nav-link, link-button">CONTACT</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>